__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.vscode
.idea
*.ipynb
*.log
*.tmp
data/raw/
data/processed/*.csv
data/processed/*.txt
!data/processed/books_with_emotions.csv
!data/processed/tagged_description.txt
data/assets/
!data/assets/cover-not-found.jpg
